node-red JSON files/M1.3 - watermeter better viz.json
[
    {
        "id": "7852fdeda0686e90",
        "type": "modbus-read",
        "z": "02879a116768cda2",
        "name": "Level Meter",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "100",
        "quantity": "1",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "181499f8d5ee5473",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 740,
        "wires": [
            [
                "b4ef14b0b0846549"
            ],
            []
        ]
    },
    {
        "id": "c49e64bf18f27b15",
        "type": "debug",
        "z": "02879a116768cda2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "b4ef14b0b0846549",
        "type": "range",
        "z": "02879a116768cda2",
        "minin": "0",
        "maxin": "1000",
        "minout": "0",
        "maxout": "300",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "74df9e33a1a5ce8c",
                "c49e64bf18f27b15",
                "6e10b9542d02d7a3",
                "tank_set_level"
            ]
        ]
    },
    {
        "id": "tank_set_level",
        "type": "change",
        "z": "02879a116768cda2",
        "name": "set topic: level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "level",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "06df20c32ce5a00f"
            ]
        ]
    },
    {
        "id": "tank_join",
        "type": "join",
        "z": "02879a116768cda2",
        "name": "Join for Tank Visual",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "0.5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1200,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "tank_visual_template",
        "type": "ui_template",
        "z": "02879a116768cda2",
        "group": "4bf7cef26fb9a056",
        "name": "Tank Digital Twin",
        "order": 5,
        "width": "15",
        "height": "15",
        "format": "<style>\n  .twin-wrap {\n    position: relative;\n    width: 100%;\n    user-select: none;\n  }\n\n  .twin-wrap img {\n    width: 100%;\n    display: block;\n    border-radius: 6px;\n  }\n\n  .water-body {\n    position: absolute;\n    pointer-events: none;\n    overflow: visible;\n    transition: top 0.7s ease, height 0.7s ease;\n  }\n\n  .water-fill {\n    position: absolute;\n    left: 0; right: 0;\n    top: 0; bottom: 0;\n    border-radius: 0 0 50% 50% / 0 0 12px 12px;\n    overflow: hidden;\n  }\n\n  .water-top {\n    position: absolute;\n    top: -8px;\n    left: -2%;\n    right: -2%;\n    height: 16px;\n    border-radius: 50%;\n    z-index: 2;\n  }\n\n  .hud {\n    position: absolute;\n    background: rgba(8, 16, 36, 0.82);\n    border: 1px solid rgba(90, 170, 255, 0.6);\n    border-radius: 7px;\n    padding: 5px 11px 6px;\n    color: #fff;\n    font-family: 'Roboto Mono', monospace, sans-serif;\n    line-height: 1.3;\n    white-space: nowrap;\n  }\n\n  .hud-lbl {\n    font-size: 9px;\n    letter-spacing: 0.08em;\n    color: rgba(140, 200, 255, 0.85);\n    text-transform: uppercase;\n  }\n\n  .hud-val {\n    font-size: 16px;\n    font-weight: 600;\n    color: #fff;\n  }\n\n  .hud-unit {\n    font-size: 10px;\n    color: rgba(160, 210, 255, 0.75);\n    margin-left: 2px;\n  }\n</style>\n\n<div class=\"twin-wrap\">\n  <img src=\"/ui/img/tank.png\" style=\"width:100%;display:block;border-radius:6px;\" />\n\n  <!-- Water body — bottom stays at 88.5 -->\n  <div class=\"water-body\" ng-style=\"{\n    display:  (msg.payload.level / 300) < 0.01 ? 'none' : 'block',\n    left:     '32.5%',\n    width:    '32%',\n    top:      (88.5 - (msg.payload.level / 300) * (88.5 - 28)) + '%',\n    height:   ((msg.payload.level / 300) * (88.5 - 28)) + '%',\n    background: 'transparent'\n  }\">\n    <div class=\"water-fill\" ng-style=\"{background: 'rgba(28,110,185,0.45)'}\"></div>\n    <div class=\"water-top\" ng-style=\"{background: 'rgba(60,140,220,0.90)'}\"></div>\n  </div>\n\n  <!-- Tick marks — ruler bottom at 87, independent of water -->\n  <div style=\"position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none;\">\n    <div style=\"position:absolute;\"\n      ng-style=\"{top: (87 - 0*(87-28)/100) + '%', left:'68%', width:'2%', height:'1px', background:'rgba(0,0,0,0.7)'}\">\n    </div>\n    <div style=\"position:absolute;font-size:8px;color:rgba(0,0,0,0.9);font-family:monospace;font-weight:bold;\"\n      ng-style=\"{top: (87 - 0*(87-28)/100) + '%', left:'71%', transform:'translateY(-50%)'}\">0</div>\n\n    <div style=\"position:absolute;\"\n      ng-style=\"{top: (87 - 25*(87-28)/100) + '%', left:'68%', width:'2%', height:'1px', background:'rgba(0,0,0,0.7)'}\">\n    </div>\n    <div style=\"position:absolute;font-size:8px;color:rgba(0,0,0,0.9);font-family:monospace;font-weight:bold;\"\n      ng-style=\"{top: (87 - 25*(87-28)/100) + '%', left:'71%', transform:'translateY(-50%)'}\">75</div>\n\n    <div style=\"position:absolute;\"\n      ng-style=\"{top: (87 - 50*(87-28)/100) + '%', left:'68%', width:'2%', height:'1px', background:'rgba(0,0,0,0.7)'}\">\n    </div>\n    <div style=\"position:absolute;font-size:8px;color:rgba(0,0,0,0.9);font-family:monospace;font-weight:bold;\"\n      ng-style=\"{top: (87 - 50*(87-28)/100) + '%', left:'71%', transform:'translateY(-50%)'}\">150</div>\n\n    <div style=\"position:absolute;\"\n      ng-style=\"{top: (87 - 75*(87-28)/100) + '%', left:'68%', width:'2%', height:'1px', background:'rgba(0,0,0,0.7)'}\">\n    </div>\n    <div style=\"position:absolute;font-size:8px;color:rgba(0,0,0,0.9);font-family:monospace;font-weight:bold;\"\n      ng-style=\"{top: (87 - 75*(87-28)/100) + '%', left:'71%', transform:'translateY(-50%)'}\">225</div>\n\n    <div style=\"position:absolute;\"\n      ng-style=\"{top: (87 - 100*(87-28)/100) + '%', left:'68%', width:'2%', height:'1px', background:'rgba(0,0,0,0.7)'}\">\n    </div>\n    <div style=\"position:absolute;font-size:8px;color:rgba(0,0,0,0.9);font-family:monospace;font-weight:bold;\"\n      ng-style=\"{top: (87 - 100*(87-28)/100) + '%', left:'71%', transform:'translateY(-50%)'}\">300</div>\n  </div>\n\n  <!-- HUDs -->\n  <div class=\"hud\" style=\"top:13%; left:33%; transform:translateX(-50%);\">\n    <div class=\"hud-lbl\">Water Level</div>\n    <div class=\"hud-val\">{{msg.payload.level | number:1}}<span class=\"hud-unit\">mm</span></div>\n  </div>\n\n  <div class=\"hud\" style=\"top:5%; right:4%;\">\n    <div class=\"hud-lbl\">Fill Valve</div>\n    <div class=\"hud-val\">{{msg.payload.fill | number:1}}<span class=\"hud-unit\">%</span></div>\n  </div>\n\n  <div class=\"hud\" style=\"bottom:14%; left:2%;\">\n    <div class=\"hud-lbl\">Discharge Valve</div>\n    <div class=\"hud-val\">{{msg.payload.discharge | number:1}}<span class=\"hud-unit\">%</span></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1190,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c2a02b73985583be",
        "type": "modbus-read",
        "z": "02879a116768cda2",
        "name": "Flow Meter",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "101",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "181499f8d5ee5473",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 820,
        "y": 740,
        "wires": [
            [
                "c1319299ab594fd3",
                "1cf423c40e550934"
            ],
            []
        ]
    },
    {
        "id": "c1319299ab594fd3",
        "type": "debug",
        "z": "02879a116768cda2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 740,
        "wires": []
    },
    {
        "id": "0230dea95e5e1403",
        "type": "modbus-write",
        "z": "02879a116768cda2",
        "name": "Fill Valve",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "200",
        "quantity": "1",
        "server": "181499f8d5ee5473",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 380,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7f2e98d91c56af53",
        "type": "modbus-write",
        "z": "02879a116768cda2",
        "name": "Discharge Valve",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "201",
        "quantity": "1",
        "server": "181499f8d5ee5473",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6e10b9542d02d7a3",
        "type": "ui_chart",
        "z": "02879a116768cda2",
        "name": "",
        "group": "aca849f846c7a9df",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Water Level History (cm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "cm",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "8ded0e1a93ac3f14",
        "type": "ui_slider",
        "z": "02879a116768cda2",
        "name": "",
        "label": "Fill Valve (%)",
        "tooltip": "",
        "group": "2ed6324a3917a5f1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "25",
        "className": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "0230dea95e5e1403",
                "850809985519915b",
                "fill_to_tank_topic"
            ]
        ]
    },
    {
        "id": "fill_to_tank_topic",
        "type": "function",
        "z": "02879a116768cda2",
        "name": "fill% for tank viz",
        "func": "msg.payload = msg.payload / 10;\nmsg.topic = 'fill';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 440,
        "wires": [
            [
                "06df20c32ce5a00f"
            ]
        ]
    },
    {
        "id": "f7d7a02850acedc8",
        "type": "ui_slider",
        "z": "02879a116768cda2",
        "name": "",
        "label": "Discharge Valve (%)",
        "tooltip": "",
        "group": "2ed6324a3917a5f1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "25",
        "className": "",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "7f2e98d91c56af53",
                "25c6ea6291b88066",
                "discharge_to_tank_topic"
            ]
        ]
    },
    {
        "id": "a94c6b1128fa381e",
        "type": "ui_gauge",
        "z": "02879a116768cda2",
        "name": "",
        "group": "2ed6324a3917a5f1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fill Gauge",
        "label": "",
        "format": "{{value}}% Open",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "bf2412c61fc342ef",
        "type": "ui_gauge",
        "z": "02879a116768cda2",
        "name": "",
        "group": "2ed6324a3917a5f1",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Discharge Gauge",
        "label": "",
        "format": "{{value}}% Open",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "74df9e33a1a5ce8c",
        "type": "ui_text",
        "z": "02879a116768cda2",
        "group": "4bf7cef26fb9a056",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water Level",
        "format": "{{msg.payload}} cm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 680,
        "wires": []
    },
    {
        "id": "850809985519915b",
        "type": "function",
        "z": "02879a116768cda2",
        "name": "/10",
        "func": "msg.payload = msg.payload / 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "a94c6b1128fa381e"
            ]
        ]
    },
    {
        "id": "25c6ea6291b88066",
        "type": "function",
        "z": "02879a116768cda2",
        "name": "/10",
        "func": "msg.payload = msg.payload / 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 100,
        "wires": [
            [
                "bf2412c61fc342ef"
            ]
        ]
    },
    {
        "id": "75b0449d442bff5d",
        "type": "ui_chart",
        "z": "02879a116768cda2",
        "name": "",
        "group": "aca849f846c7a9df",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Discharge History (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "cm",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d4c0e8a307474e26",
        "type": "ui_text",
        "z": "02879a116768cda2",
        "group": "aca849f846c7a9df",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flow Meter",
        "format": "{{msg.payload}} LPM",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 680,
        "wires": []
    },
    {
        "id": "1cf423c40e550934",
        "type": "change",
        "z": "02879a116768cda2",
        "name": "ArraytoNum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 660,
        "wires": [
            [
                "c3112821ace2970c"
            ]
        ]
    },
    {
        "id": "discharge_to_tank_topic",
        "type": "function",
        "z": "02879a116768cda2",
        "name": "discharge% for tank viz",
        "func": "msg.payload = msg.payload / 10;\nmsg.topic = 'discharge';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 380,
        "wires": [
            [
                "06df20c32ce5a00f"
            ]
        ]
    },
    {
        "id": "06df20c32ce5a00f",
        "type": "function",
        "z": "02879a116768cda2",
        "name": "function 1",
        "func": "var tank = context.get('tank') || { level: 0, fill: 0, discharge: 0 };\n\nif (msg.topic === 'level') tank.level = parseFloat(msg.payload) || 0;\nelse if (msg.topic === 'fill') tank.fill = parseFloat(msg.payload) || 0;\nelse if (msg.topic === 'discharge') tank.discharge = parseFloat(msg.payload) || 0;\n\ncontext.set('tank', tank);\nmsg.payload = tank;\nmsg.topic = '';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "tank_visual_template"
            ]
        ]
    },
    {
        "id": "c3112821ace2970c",
        "type": "range",
        "z": "02879a116768cda2",
        "minin": "0",
        "maxin": "850",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "75b0449d442bff5d",
                "d4c0e8a307474e26"
            ]
        ]
    },
    {
        "id": "181499f8d5ee5473",
        "type": "modbus-client",
        "name": "factoryIO cubeworks",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.40.71.126",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "4bf7cef26fb9a056",
        "type": "ui_group",
        "name": "Tank Monitoring",
        "tab": "2a07a8f02c09a69f",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aca849f846c7a9df",
        "type": "ui_group",
        "name": "History",
        "tab": "2a07a8f02c09a69f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ed6324a3917a5f1",
        "type": "ui_group",
        "name": "Valve Controls",
        "tab": "2a07a8f02c09a69f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a07a8f02c09a69f",
        "type": "ui_tab",
        "name": "Water Tank Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6dbd6eba4c8342dc",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2",
            "node-red-dashboard": "3.6.6"
        }
    }
]
